Repository Mousticke/IdeaAppBackEnd: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

fix test
  package.json
Due: none

fix test
  .gitignore
  package.json
  test-results.xml
Due: none

add test idea route
  .circleci/config.yml
  package-lock.json
  package.json
  src/config/globalization/local.en.json
  src/controllers/ideaController.js
  src/controllers/userSettingsController.js
  src/routes/api/idea.js
  src/services/userSettingsService.js
  test-results.xml
  test/idea/ideaRoute.test.js
  test/idea/mockIdea.js
  test/utils/utils.js
Due: app, tests

Coverage all line in tests
  src/controllers/ideaController.js
  src/controllers/userSettingsController.js
  src/services/ideaService.js
  src/services/userSettingsService.js
  test/idea/ideaRoute.test.js
  test/userSettings/userSettings.test.js
Due: app, tests

add idea route : get all ideas from a user
  src/controllers/ideaController.js
  src/controllers/userController.js
  src/routes/api/idea.js
  src/services/ideaService.js
  src/services/userService.js
  test/idea/ideaRoute.test.js
Due: app, tests

update readme task
  README.md
Due: none

prepare deploy
  package-lock.json
  package.json
Due: none

fix build script
  package.json
Due: none

add dependencies http code
  package-lock.json
  package.json
Due: none

prepare v2
  README.md
Due: none

add new error system to user route
  package-lock.json
  package.json
  src/controllers/ideaController.js
  src/controllers/userController.js
  src/controllers/userSettingsController.js
  src/helpers/authToken.js
  src/helpers/inputValidation.js
  src/helpers/response/badRequest.error.js
  src/helpers/response/existing.error.js
  src/helpers/response/notFound.error.js
  src/helpers/response/response.js
  src/helpers/response/unauthorized.error.js
  src/helpers/response/validation.error.js
  src/index.js
  src/routes/api/index.js
  src/services/userService.js
  test/user/usersRoute.test.js
Due: app, tests

refactor user controller and service
  README.md
  src/controllers/baseController.js
  src/controllers/userController.js
  src/index.js
  src/routes/api/user.js
  src/services/userService.js
Due: app

add versionning 2.0.1
  README.md
  package.json
Due: none

set new architecture for idea route
  README.md
  src/controllers/ideaController.js
  src/controllers/userController.js
  src/helpers/inputValidation.js
  src/routes/api/idea.js
  src/services/ideaService.js
  test/idea/ideaRoute.test.js
Due: app, tests

Add new architecture for user settings and test code coverage
  README.md
  src/controllers/ideaController.js
  src/controllers/userController.js
  src/controllers/userSettingsController.js
  src/helpers/inputValidation.js
  src/routes/api/user.js
  src/routes/api/userSettings.js
  src/services/userSettingsService.js
  test/idea/ideaRoute.test.js
  test/user/mockUser.js
  test/userSettings/userSettings.test.js
Due: app, tests

Add local to idea controller
  src/controllers/ideaController.js
Due: app

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update README.md
  README.md
Due: none

(deps): Bump all security alerts
  package-lock.json
  package.json
Due: none

(fix): security test. Remove hardcoded credentials
  test/userSettings/userSettings.test.js
Due: tests

(fix): Insecure randomness with cryptographic security instead of random Number generated by Math
  test/user/usersRoute.test.js
  test/userSettings/userSettings.test.js
Due: tests

(fix): Add rate limite to api/v1
  package-lock.json
  package.json
  src/index.js
Due: app

(fix): Add rate limite to api/v1
  src/index.js
Due: app

(fix): Insecure randomness with cryptographic security instead of random Number generated by Math
  test/user/mockUser.js
Due: tests

(chore): add type module in package.json
  package-lock.json
  package.json
Due: none

(fix): use built-in crypto module
  package-lock.json
  package.json
  test/user/usersRoute.test.js
Due: tests

Update readme todolist
  README.md
Due: none

Separate error middleware and add custom error for Unauthorized
  src/controllers/userSettingsController.js
  src/helpers/authToken.js
  src/index.js
  src/middlewares/error.js
  src/routes/api/user.js
Due: app

(fix) user test with encapsulated middleware for passport authentication
  src/routes/api/user.js
Due: app

(fix) user settings test with custom error returned from middleware passport autenticate
  test/userSettings/userSettings.test.js
Due: tests

Path conditions:
  app: any of: src/
  tests: any of: test/
